USE [DeveloperTests]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 7/27/2020 11:41:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customerId] [int] IDENTITY(5000,1) NOT NULL,
	[fullname] [varchar](100) NULL,
	[company] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[salespersonId] [int] NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 7/27/2020 11:41:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[orderId] [int] IDENTITY(90000,1) NOT NULL,
	[customerId] [int] NULL,
	[purchaseAmount] [decimal](8, 2) NULL,
	[purchaseDate] [datetime] NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salesperson]    Script Date: 7/27/2020 11:41:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salesperson](
	[salespersonId] [int] IDENTITY(1000,1) NOT NULL,
	[fullname] [varchar](100) NULL,
	[city] [varchar](50) NULL,
	[commissionRate] [varchar](50) NULL,
 CONSTRAINT [PK_salesperson] PRIMARY KEY CLUSTERED 
(
	[salespersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([customerId], [fullname], [company], [city], [salespersonId]) VALUES (5000, N'Stefanie Alexander', N'Tipmunplor Holdings ', N'Oklahoma', 1001)
INSERT [dbo].[customer] ([customerId], [fullname], [company], [city], [salespersonId]) VALUES (5001, N'Lee Buckley', N'Tipbanefan WorldWide ', N'Anchorage', 1000)
INSERT [dbo].[customer] ([customerId], [fullname], [company], [city], [salespersonId]) VALUES (5002, N'Daniel Gallagher', N'Pardudamin  ', N'Montgomery', 1014)
GO
SET IDENTITY_INSERT [dbo].[customer] OFF
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([orderId], [customerId], [purchaseAmount], [purchaseDate]) VALUES (90000, 5079, CAST(1359.50 AS Decimal(8, 2)), CAST(N'2019-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[order] ([orderId], [customerId], [purchaseAmount], [purchaseDate]) VALUES (90001, 5008, CAST(875.40 AS Decimal(8, 2)), CAST(N'2019-01-01T11:00:26.000' AS DateTime))
INSERT [dbo].[order] ([orderId], [customerId], [purchaseAmount], [purchaseDate]) VALUES (90002, 5045, CAST(3180.58 AS Decimal(8, 2)), CAST(N'2019-01-01T22:00:52.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[order] OFF
SET IDENTITY_INSERT [dbo].[salesperson] ON 

INSERT [dbo].[salesperson] ([salespersonId], [fullname], [city], [commissionRate]) VALUES (1000, N'Ginger Allen', N'Anchorage', N'5.32')
INSERT [dbo].[salesperson] ([salespersonId], [fullname], [city], [commissionRate]) VALUES (1001, N'Erika Waller', N'Long Beach', N'7.71')
INSERT [dbo].[salesperson] ([salespersonId], [fullname], [city], [commissionRate]) VALUES (1002, N'Tania Herrera', N'Riverside', N'6.35')
SET IDENTITY_INSERT [dbo].[salesperson] OFF
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_purchaseAmount]  DEFAULT ((0.00)) FOR [purchaseAmount]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_purchaseDate]  DEFAULT (getdate()) FOR [purchaseDate]
GO
ALTER TABLE [dbo].[salesperson] ADD  CONSTRAINT [DF_salesperson_commissionRate]  DEFAULT ((0.10)) FOR [commissionRate]
GO
